div
{
    width: 250px;
    height: 150px;
    background-color: red;
}
p{
    color: orange
}
.caja{
    width: 150px;
    height: 150px;
    background-color: rgb(10%, 100%, 50%);
}
.otra_caja
{
    width: 150px;
    height: 150px;
    background-color: rgb(0,0,255,0.5);
}